<h2>Lody Kreatywne</h2>

<p>
    Lody Kreatywne to subserwer na tej samej wersji co główne Lody. Służy on do testowania różnych rzeczy na Creative z cheatami. Dla ułatwienia jest on stworzony na generatorze superpłaskim.
</p>

<img src="https://mcapi.us/server/image?ip=stary.pc.pl&port=25564&title=Lody Kreatywne" />

<h3>Adres IP</h3>
<code>stary.pc.pl:25564</code>