<h2>Lody X</h2>

<p>
    Lody X to subserwer eksperymentalny. Są na nim testowane snapshoty, datapacki i różne destruktywne rzeczy. Często nie jest online.
</p>

<img src="https://mcapi.us/server/image?ip=stary.pc.pl&port=25563&title=Lody X" />

<h3>Adres IP</h3>
<code>stary.pc.pl:25563</code>