<h2>Mapa Lodów Bedrockowych</h2>

<iframe src="https://mc.stary.pc.pl/bemap/map" title="Mapa" width="100%" height="75%"></iframe>
<br />
<a href="https://mc.stary.pc.pl/bemap/map" target="_blank">Pełny ekran</a>