<h2>FAQ</h2>

<h3 id="nowi_gracze">Q: Czy mogę się dostać na ten serwer?</h3>
<p>
    <b>TL;DR:</b> Niestety, nie.
</p>
<p>
    <b>A:</b> Lody są dość "elitarnym" serwerem z kilku powodów. Najważniejszym z nich jest utrzymanie wysokiego poziomu rozgrywki. Kiedyś byliśmy otwarci na nowych graczy, ale nie wyszło z tego nic dobrego. Obecnie jesteśmy dość zamkniętą społecznością.
</p>

<p>
    Obecnie nowi mogą dołączyć poprzez zaproszenie obecnych graczy Lodów. Takie zaproszenia są później wspólnie rozpatrywane. Największą szansę na dołączenie masz będąc bezpośrednim znajomym któregoś z graczy.
</p>

<h3 id="100_vanilla">Q: Czy jesteście 100% Vanilla?</h3>
<p>
    <b>TL;DR:</b> Może nie 100%, ale nazwałbym to 99%.
</p>
<p>
    <b>A:</b> Używamy server.jar bezpośrednio od Mojangu, ale modowanie od strony klienta jest pozostawione graczom, o ile użyte mody nie są cheatami. Ponadto mamy obecnie jednego datapacka, który śledzi postępy w zdobywaniu przedmiotów, ale nie wpływa w żaden sposób na rozgrywkę. Trwają prace nad zastąpieniem go za pomocą skryptu czytającego bezpośrednio pliki świata.
</p>

<h3 id="mody_cheaty">Q: Co jest uznawane za cheaty?</h3>
<p>
    <b>TL;DR:</b> Rzeczy dające wyraźną przewagę nad graczami z klientem Vanilla.
</p>
<p>
    <b>A:</b> Czasami ciężko to stwierdzić, często dyskutujemy nad różnymi modami - jakie elementy mogą zostać uznane za cheaty, jakie za poprawki jakości życia. Rzeczy nie wymagające dyskusji to mody takie jak X-Ray, Baritone czy Killaura.
</p>

<h3 id="seed">Q: Jaki jest seed (ziarno) świata?</h3>

<p>
    <b>A:</b> Seed to <code>1277870415572482400</code>, generator domyślny. Pierwsza wersja na której został wygenerowany świat to 1.14, od tamtej pory generator mógł się trochę zmienić.
</p>

<h3 id="wersja">Q: Na jakiej wersji/edycji działa serwer?</h3>
<p>
    <b>TL;DR:</b> Obecnie jest to Java Edition 1.16.
</p>

<p>
    <b>A:</b> Nasz serwer używa orginalnej edycji Minecrafta (Java Edition). Staramy się aktualizować do każdej nowej wersji w ciągu dwóch tygodni, chyba że jest ona tylko poprawką nieistotnego błędu lub powoduje krytyczne problemy. Nigdy nie gramy na snapshotach - są one zbyt ryzykowne, w kolejnych mogą nastąpić drastyczne zmiany, a aktualizacja za każdym kolejnym jest uciążliwa.
</p>

<h3 id="hosting">Q: Gdzie hostowany jest serwer?</h3>
<p>
    <b>A:</b> <i>Grzesiek11:</i> Na starympc, czyli moim dodatkowym pececie, który służy za serwer. Jeśli więc chciałeś rekomendacji, to niestety nie mogę niczego polecić z doświadczenia - ale prawdopodobnie najlepszy będzie tani VPS, bo dzięki temu rozwiązaniu masz kontrolę nad działaniem swojego serwera.
</p>

<h3 id="logo">Q: Skąd wzięło się logo Lodów Vanillowych?</h3>
<p>
    <b>A:</b> Zostało ono stworzone przez siostrę Grześka11, Emkę, specjalnie do tego celu.
</p>