<hr />
Strona tworzona przez <a href="https://grzesiek11.stary.pc.pl" target="_blank">Grześka11</a> i <a href="https://tadeln.stary.pc.pl" target="_blank">TadeLna</a>, 2020
<br />
Kod jest dostępny na <a href="https://opensource.org/licenses/ISC" target="_blank">licencji ISC</a>
<br />
Zawartość jest dostępna na <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">licencji CC BY-SA 4.0</a>
<br />
Wszystko znajdziesz na <a href="https://gitlab.com/grzesiek11/lody-vanillowe" target="_blank">naszym repozytorium Git</a>