<h2>Mapa lodostrad</h2>

<iframe src="https://tadeln.stary.pc.pl/highwayMap" title="Mapa" width="100%" height="75%"></iframe>
<br />
<a href="https://tadeln.stary.pc.pl/highwayMap" target="_blank">Pełny ekran</a>