<h2>Historia</h2>

<ul>
    <li><b>28.07.2018</b> - Jedna z pierwszych wersji "Lodów Waniliowych" - hostowana na darmowym hostingu server.pro, wersja to 1.13. Prawdopodobnie było też kilka wcześniej, ale nie ma nigdzie wiadomości, które by o nich wspominały.</li>
    <li><b>XX.XX.2018</b> - Świat został utracony przez wygaśnięcie serwera (na darmowych hostingach często wymagane jest uruchomienie serwera od czasu do czasu, by nie został skasowany).</li>
    <li><b>XX.04.2019</b> - CleanMC.com, serwer Vanilla na którym grali Grzesiek11 i TadeLn, resetuje świat. Skłania to do pracy nad własnym serwerem.</li>
    <li><b>16.04.2019</b> - Grzesiek11 znajduje staregopc w piwnicy i zaczyna eksperymentować.</li>
    <li><b>10.05.2019</b> - Pierwszy log w katalogu logs (2019-05-10-1.log: [17:31:22] [main/ERROR]: Failed to load properties from file: server.properties).</li>
    <li><b>18.05.2019</b> - Grzesiek11 znajduje sposób na tunelowanie różnych serwerów za NAT.</li>
    <li><b>21.05.2019</b> - Rozpoczyna się serwer, jeszcze nienazwany, wersja to 1.14.1. Grają na nim tylko TadeLn i Grzesiek11.</li>
    <li><b>22.05.2019</b> - Prawdopodobnie pierwszy mention serwera na Discordzie (Serwer Minecraft: 0.tcp.eu.ngrok.io:17578). Dołączają gracze nikt_xD (obecnie MrKubekkk) i awdsawdsYT (obecnie Finishh).</li>
    <li><b>12.07.2019</b> - Przejście na server.jar z minecraft.net. Wcześniej używany był Spigot (z powodu AuthMe, część graczy używała kont offline). Gdzieś tutaj nazwa zmienia się na dawne Lody Waniliowe.</li>
    <li><b>14.10.2019</b> - Zmiana nazwy, Lody Waniliowe to od teraz Lody Vanillowe.</li>
    <li><b>06.08.2019</b> - 07.08.2019 - Okres, w którym przyjęto rekrutację kilku osób spoza znajomych, co spowodowało małe zamieszanie na serwerze.</li>
    <li><b>29.12.2019</b> - Dołącza gracz Kornelo_yt.</li>
    <li><b>07.03.2020</b> - Walka z Ender Dragonem. Wszyscy gracze biorą w niej udział, ostateczny hit przysługuje TadeLn'owi. TadeLn rozpoczyna serię na YouTube.</li>
    <li><b>14.04.2020</b> - Emka rysuje nowe logo dla serwera.</li>
    <li><b>05.05.2020</b> - Grzesiek11 rozpoczyna serię na YouTube.</li>
    <li><b>11.05.2020</b> - Wydzielenie osobnego serwera Discord tylko dla Lodów.</li>
    <li><b>29.07.2020</b> - Powstanie strony internetowej mc.stary.pc.pl.</li>
    <li><b>14.08.2020</b> - Początek około dwumiesięcznego downtime z powodu awarii maszyny.</li>
    <li><b>06.10.2020</b> - Koniec downtime. Dzięki nowemu sprzętowi poprawia się wydajność.</li>
</ul>