<h2>Zasady</h2>

<p>
    Z racji, że Lody nie są publicznym serwerem, nie jest potrzebny ogromny regulamin. Natomiast warto się kierować kilkoma zasadami:
</p>

<ol>
    <li>Nie niszcz cudzej pracy</li>
    <li>Na chacie przestrzegaj netykiety</li>
    <li>Nie używaj modów dających nieuczciwą przewagę</li>
    <li>Nie zachowuj się dziecinnie (niezależnie od tego, ile masz lat)</li>
</ol>