<h2>Lody na YouTube</h2>

<h3>Seria TadeLn'a</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLDJvKmrd5E74i89qs-3JPrJ_09Erolr6q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>Seria Grześka11</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLcvyNPCOPDlLEiY4zPs8w4ePu4viVLPwE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>